* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(90, 46, 90), rgb(134, 101, 101));
    display: flex;
    justify-content: center;
    align-items: center;
    }

        /* Login */

.card {
    position: relative;
    background-color: whitesmoke;
    width: 400px;
    height: 350px;
    padding: 100px 60px 30px;
    border-radius: 20px;
    display: flex;
    box-shadow: 1px 1px 50px 5px rgba(0, 0,0, 0.3);
    opacity: 0.72;
    
}

.campo {
    font-size: 30px;
    color: black;
    font-weight: bolder;
    padding-bottom: 20%;
    position: relative;
    bottom: 28%;
    left: 17%;
    
}

.campo label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.campo input {
    padding: 0.5em;
    font-size: 15px;
    margin: 2px;
    background: whitesmoke;
}

.campo input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid black;
    height: 25px;
    padding: 10px;

}

.campo input[type="submit"] {
    border: 1px solid rgb(90, 46, 90);
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 30%;
    background: rgb(134, 101, 101);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    cursor: pointer;
    width: 200px;
}

.campo input[type="submit"]:hover {
    background: transparent;
    text-shadow: none;
    transition: 0.2s;
}

p {
    font-size: 15px;
    position: absolute;
    bottom: 5%;
    right: 40%;
    font-weight: bolder;
}

div a {
    text-decoration: none;
    font-size: 15px;
    position: absolute;
    bottom: 5%;
    right: 13%;
    padding: 3px;
    color: rgb(90, 46, 90);
    height: 20px;
    font-weight: bolder;
    
}

div a:visited {
    color: rgb(134, 101, 101);;
    transition: 0.2;
}

    /* Cadastro */

#card2 {
    position: relative;
    left: 1%;
    top: 4%;
    background-color: whitesmoke;
    width: 800px;
    height: 500px;
    padding: 100px 60px 30px;
    border-radius: 20px;
    display: flex;
    box-shadow: 1px 1px 50px 5px rgba(0, 0,0, 0.3);
    opacity: 0.65;

}

header {
    position: relative;
    bottom: 47%;
    left: 30%;
}

h2 {font-size: 13px;
    text-align: center;
    padding: 0.6em;
}

fieldset{
    border: 0;
    padding-bottom: 6%;

}

.conteudo {
    color: black;
    font-weight: bolder;
    padding-bottom: 5%;
    position: relative;
    bottom: 18%;
    right: 15%;
    display: inline-block;
}

.conteudo label {
    font-size: 16px;
    display: block;
    margin: 0.1em;

    
}

.conteudo input[type="text"], input[type="number"], input[type="email"] {
    border: none;
    border-bottom: 1px solid black;
    height: 25px;
    padding: 10px;
    background: whitesmoke;

}

.conteudo1 label {
    font-size: 14px;
    position: absolute;
    bottom: 8%;
    margin: 0.2em;

    
}
.conteudo1 textarea {
    padding: 5px;
    display: flex;
    position: absolute;
    left: 10%;
    top: 95%;
    border: 1px solid rgb(134, 101, 101);
    border-radius: 20px;
    outline: none;
    
}

.conteudo1 textarea::placeholder {
    padding: 20px;
}

.conteudo input::placeholder {
    padding: 12px;
}


::-webkit-input-placeholder {
    color:rgb(134, 101, 101);
    font-size: 12px;
 }


input:active, input:focus {
    outline: none;
}

.conteudo1 input[type="submit"] {
    border: 1px solid rgb(90, 46, 90);
    border-radius: 20px;
    position: absolute;
    left: 21%;
    top: 123%;
    background: rgb(134, 101, 101);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    cursor: pointer;
    width: 200px;
}

.conteudo1 input[type="submit"]:hover {
    background: transparent;
    text-shadow: none;
    transition: 0.2s;
}


span {
    font-size: 15px;
    position: absolute;
    top: 133%;
    right: 45%;
    font-weight: bolder;
}

#foot a {
    text-decoration: none;
    font-size: 15px;
    position: absolute;
    top: 132%;
    right: 30%;
    color:black;
    
    
}

#foot a:visited {
    color: whitesmoke;
    transition: 0.2;
}
